*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    background-color: greenyellow;
    max-width: 400px;
    padding: 40px;

}

.child{
    max-width: 300px;
    height: 150px;
background-color: brown;
margin-top: 40px;
padding: 5px;
}

input{
    margin-top: 20px;
}